<script type="text/javascript">
    $(function () {
        // 诊所
        var list = $('#clinicView').list($('#clinicViewForm'));
        list.form.data('form').on('change',function(data,templateName,ele){
            if(templateName == 'edit'){

            }else{

            }
        });
        list.view.on('move',function(type,source,target){
            source.setValue('sort',target.getIndex());
            target.setValue('sort',source.getIndex());
        }).setJSON({});

        $('.clinicName').autocomplete('/clinics/search', {
            minChars: 0,
            width: 199,
            max: 0,
            resultsClass: 'fuzzy_search',
            extraParams:{
                'LIKES_name':function(){
                    return $('.clinicName').val();
                }
            },
            formatItem: function (row) {
                return row.name;
            },
            formatMatch: function (row) {
                return row.name;
            },
            formatResult: function (row) {
                return row.name;
            }, parse: function (data) {
                return $.map(data.pageItems, function (row) {
                    return {data: row, value: row.name, result: row.name, id: row.id}
                });
            }
        }).result(function (event, data, formatted) {
            console.log(data);
            $.each(data,function(key,value){

            });
        });

        var imageUploader = $('#imageUploader').upload({data: {'dir': 'brand_logo'}, theme: 'image', size: '160x160'},{{{string doctor.head}}});
        $("#saveForm").ajaxForm({
            beforeSerialize: function (zhis, options) {
                var _data = {};
                options.data = _data;
                var _images = imageUploader.getData();
                if (_images.length > 0) {
                    _data['head'] = _images[0].fileManagerId + ':' + _images[0].absolutePath;
                }
                var dclinics = list.getData(), _ids = [];
                for(var i=0; i<dclinics.length; i++){
                    console.log(dclinics[i].cid);
                    console.log(dclinics[i].name);
                    _ids.push(dclinics[i].cid);
                }
                _data['clinics'] = _ids;
                console.log(_ids);
            },
            success: function (data) {
                $('#pager').pager().reload();
                $.msgbox({
                    msg: "保存成功",
                    type: "success"
                });
                $page$.backpage();
            },
            error: function() {
                $.msgbox({
                    msg: "修改失败",
                    type: "error"
                });
            }
        });
        $('.dd_type').each(function(i){
            var zhis = this;
            var type = $(zhis).data('ddtype');
            if(!type){
                return;
            }
            $(zhis).select3('/system/ddts/'+type+'/dds',{value:'key',text:'name'}).load({});
        });

        //

    });
</script>
<div class="pad10L pad10R">
    <div class="example-box">
        <form id="saveForm" action="/doctors/save" method="post" cssClass="center-margin">
            <input type="hidden" name="id" value="{{doctor.id}}">
            <div class="tabs">
                <ul>
                    <li>
                        <a title="基本信息" href="#normal-tabs-1">
                            基本信息
                        </a>
                    </li>
                    <li>
                        <a title="常用诊所" href="#normal-tabs-2">
                            常用诊所
                        </a>
                    </li>
                </ul>
                <a href="javascript:;" class="btn small hover-black float-right back-page" title="" style="margin-top: -30px;margin-right: 30px">
                    <i class="glyph-icon icon-reply"></i>
                </a>
                <div id="normal-tabs-1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        医生姓名：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input type="text" name="name" value="{{doctor.name}}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        医生性别：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <select class="chosen-select" name="sex">
                                            <option value="male" {{#equals doctor.sex 'male'}}selected="true" {{/equals}}>男</option>
                                            <option value="female" {{#equals doctor.sex 'female'}}selected="true" {{/equals}}>女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        工作年限：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <input name="workingYear" value="{{doctor.workingYear}}" type="number"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        职称：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <select class="chosen-select dd_type" name="position" data-ddtype="doctorGrade" data-defval="{{doctor.position}}">
                                            <option value="">请选择职称</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        科室：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <select class="chosen-select dd_type" data-ddtype="department" data-defval="{{doctor.department}}" name="department">
                                            <option value="">请选择科室</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        简介：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <textarea name="introduction" style="width: 600px;height: 100px;">{{doctor.introduction}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-label col-md-3">
                                    <label for="">
                                        详细介绍：
                                    </label>
                                </div>
                                <div class="form-input col-md-9">
                                    <div class="append-left">
                                        <textarea name="detailedIntroduction" style="width: 600px;height: 200px;">{{doctor.detailedIntroduction}}</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-row" style="padding-left: 60px;padding-bottom:31px;">
                                <div class="form-label col-md-3"></div>
                                <div class="form-input col-md-9" id="imageUploader"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="normal-tabs-2">
                    <div class="row">
                        <table id="clinicView" class="table table-hover mrg5B text-center">
                            <thead>
                            <tr>
                                <!--<th class="pad15L" style="width:20px;"><input id="allChecked" type="checkbox" checkAll=".select_box" class="bg-white custom-checkbox"></th>-->
                                <th>诊所名称</th>
                                <th>联系方式</th>
                                <th>地址</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr class="template" name="default">
                                    <!--<td><input type="checkbox" class="select_box custom-checkbox"></td>-->
                                    <td><span name="cid" class="view-field" style="display: none;"></span><span name="cname" class="view-field"></span></td>
                                    <td><span name="ccontact" class="view-field"></span></td>
                                    <td><span name="caddress" class="view-field"></span></td>
                                    <td>
                                        <a title="" data-placement="top" class="btn small bg-red remove" href="javascript:;" data-original-title="Remove">
                                            <i class="glyph-icon icon-remove-sign"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="empty"><td class="norecord" colspan="5">暂无数据</td></tr>
                            </tbody>
                        </table>
                        <div id="clinicViewForm" class="row">
                            <div class="template" name="default">
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-label col-md-3">
                                            <label for="">
                                                诊所名称：
                                            </label>
                                        </div>
                                        <div class="form-input col-md-9">
                                            <div class="append-left">
                                                <input name="cid" type="text" class="view-field" disabled="disabled" value="402880ea4faab397014fab04bb840000"/>
                                                <input name="cname" type="text" class="view-field clinicName" disabled="disabled"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-label col-md-3">
                                            <label for="">
                                                联系方式：
                                            </label>
                                        </div>
                                        <div class="form-input col-md-9">
                                            <div class="append-left">
                                                <input name="ccontact" type="text" class="view-field" disabled="disabled"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-label col-md-3">
                                            <label for="">
                                                地址：
                                            </label>
                                        </div>
                                        <div class="form-input col-md-9">
                                            <div class="append-left">
                                                <input name="caddress" type="text" class="view-field" disabled="disabled"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-label col-md-3">
                                            <label for="">
                                            </label>
                                        </div>
                                        <div class="form-input col-md-9">
                                            <div class="append-left">
                                                <a href="javascript:;" class="btn medium bg-blue radius-all-4 mrg5A ui-state-default formNew">
                                                    <span class="glyph-icon icon-separator">
                                                         <i class="glyph-icon icon-plus"></i>
                                                    </span>
                                                    <span class="button-content">
                                                             新增
                                                     </span>
                                                </a>
                                                <a href="javascript:;" class="btn medium bg-blue radius-all-4 mrg5A ui-state-default formEdit">
                                                    <span class="glyph-icon icon-separator">
                                                         <i class="glyph-icon icon-edit mrg5R"></i>
                                                    </span>
                                                    <span class="button-content">
                                                             编辑
                                                     </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="template" name="edit">
                                <div class="col-md-6">
                                    <div class="form-row">
                                        <div class="form-label col-md-3">
                                            <label for="">
                                                诊所名称：
                                            </label>
                                        </div>
                                        <div class="form-input col-md-9">
                                            <div class="append-left">
                                                <input name="cid"  type="text" class="view-field" value="402880ea4faab397014fab04bb840000"/>
                                                <input name="cname" type="text" class="view-field clinicName"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-label col-md-3">
                                            <label for="">
                                                联系方式：
                                            </label>
                                        </div>
                                        <div class="form-input col-md-9">
                                            <div class="append-left">
                                                <input name="ccontact" type="text" class="view-field"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-label col-md-3">
                                            <label for="">
                                                地址：
                                            </label>
                                        </div>
                                        <div class="form-input col-md-9">
                                            <div class="append-left">
                                                <input name="caddress" type="text" class="view-field"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-label col-md-3">
                                            <label for="">
                                            </label>
                                        </div>
                                        <div class="form-input col-md-9">
                                            <div class="append-left">
                                                <a href="javascript:;" class="btn medium bg-blue radius-all-4 mrg5A ui-state-default formSave">
                                                    <span class="glyph-icon icon-separator">
                                                         <i class="glyph-icon icon-save"></i>
                                                    </span>
                                                    <span class="button-content">
                                                         选择
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row" style="text-align: center;">
                <div>
                    <div style="float: left;padding-right: 50px;padding-left: 27px;">
                        <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 menu-save4" onclick="$('#saveForm').submit();return false;" title=" 保存">
                            <span class="glyph-icon icon-separator">
                                 <i class="glyph-icon icon-save"></i>
                            </span>
                             <span class="button-content">
                                 保存
                             </span>
                        </a>
                    </div>
                    <div style="float: left;">
                        <a href="javascript:void(0);" class="btn medium primary-bg radius-all-4 switch menu-view back-page " title="返回">
                            <span class="glyph-icon icon-separator">
                                  <i class="glyph-icon icon-reply"></i>
                            </span>
                             <span class="button-content">
                                 返回
                             </span>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
