<script>
    $(function(){
        var imageUploader = $('#imageUploader').upload({data: {'dir': 'brand_logo'}, theme: 'image', size: '160x160'}, {{{string doctor.head}}});
        $('.dd_data').each(function(i){
            var zhis = this;
            var key=$(zhis).data('ddkey');
            if(!key){
                return;
            }
            $.post('/system/dds/'+key,function(data){
                if(!!data){
                    $(zhis).val(data.name);
                }
            });
        });
    });
</script>
<div class="pad10L pad10R">
    <div class="example-box">
        <div class="tabs">
            <ul>
                <li>
                    <a title="基本信息" href="#normal-tabs-1">
                        基本信息
                    </a>
                </li>
                <li>
                    <a title="常用诊所" href="#normal-tabs-2">
                        常用诊所
                    </a>
                </li>
                <li>
                    <a title="排班时间" href="#normal-tabs-3">
                        排班时间
                    </a>
                </li>
                <li>
                    <a title="帐号信息" href="#normal-tabs-4">
                        帐号信息
                    </a>
                </li>
            </ul>
            <a href="javascript:;" class="btn small hover-black float-right back-page" title="" style="margin-top: -30px;margin-right: 30px">
                <i class="glyph-icon icon-reply"></i>
            </a>
            <div id="normal-tabs-1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    医生姓名：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <input type="text" name="name" value="{{doctor.name}}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    医生性别：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <select class="chosen-select" name="sex" disabled="true">
                                        <option value="male" {{#equals doctor.sex 'male'}}selected="true" {{/equals}}>男</option>
                                        <option value="female" {{#equals doctor.sex 'female'}}selected="true" {{/equals}}>女</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    工作年限：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <input name="workingYear" value="{{doctor.workingYear}}" type="number" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    职称：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <input type="text" class="dd_data" data-ddkey="{{doctor.position}}" value="{{doctor.position}}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    科室：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <input type="text" class="dd_data" data-ddkey="{{doctor.department}}" value="{{doctor.department}}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    简介：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <textarea name="introduction" disabled="true" style="width: 600px;height: 100px;">{{doctor.introduction}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    详细介绍：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <textarea name="detailedIntroduction" disabled="true" style="width: 600px;height: 200px;">{{doctor.detailedIntroduction}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-row" style="padding-left: 60px;padding-bottom:31px;">
                            <div class="form-label col-md-3"></div>
                            <div class="form-input col-md-9" id="imageUploader"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="normal-tabs-2">
                <div class="row">
                    <table id="clinicView" class="table table-hover mrg5B text-center">
                        <thead>
                        <tr>
                            <!--<th class="pad15L" style="width:20px;"><input id="allChecked" type="checkbox" checkAll=".select_box" class="bg-white custom-checkbox"></th>-->
                            <th>诊所名称</th>
                            <th>联系方式</th>
                            <th>地址</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#clinics}}
                                <tr class="template" name="default">
                                    <!--<td><input type="checkbox" class="select_box custom-checkbox"></td>-->
                                    <td>
                                        <span name="cid" class="view-field" style="display: none;"></span>
                                        <span name="cname" class="view-field">{{clinic.name}}</span>
                                    </td>
                                    <td><span name="ccontact" class="view-field">{{clinic.contact}}</span></td>
                                    <td><span name="caddress" class="view-field">{{clinic.address}}</span></td>
                                </tr>
                            {{/clinics}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="normal-tabs-3">
                {{>plandate}}
            </div>
            <div id="normal-tabs-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    用户登录名：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <input type="text" value="{{doctor.user.name}}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-label col-md-3">
                                <label for="">
                                    昵称：
                                </label>
                            </div>
                            <div class="form-input col-md-9">
                                <div class="append-left">
                                    <input value="{{doctor.user.nickName}}" disabled="true"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
