<style type="text/css">
    .paymentForm input {
        width: 200px;
    }

    .paymentForm select {
        width: 215px;
    }
</style>
<script type="text/javascript">
    $(function () {
        $('[name=paymentFeeType]').change(function () {
            $('.paymentFee').html($(this).val() == 'scale' ? '支付费用比例:' : '固定支付费用:');
        }).change();
        $("#saveForm").ajaxForm(function () {
            $('#pager').pager().reload();
            $.msgbox({
                msg: "保存成功",
                type: "success"
            });
            $page$.backpage();
        });
    });
</script>
<form id="saveForm" action="/system/payconfigs/save" method="post" class="center-margin">
    <input type="hidden" name="id" value="{{payconfig.id}}"/>
    <table class="formTable mb3 paymentForm">
        <caption>支付方式<a href="#" class="back-page" style="float:right;padding-right:50px;">返回</a></caption>
        <tbody>
        <tr>
            <td class="formItem_title w100">名称:</td>
            <td class="formItem_content"><input type="text" name="name" value="{{payconfig.name}}"/></td>
            <td class="formItem_title w100">支付配置类型:</td>
            <td class="formItem_content">
                <select name="paymentConfigType" class="chosen-select" disabled="true">
                    <option value="offline" {{#compare payconfig.paymentConfigType '==' 'offline'}}selected{{/compare}}>
                        线下支付
                    </option>
                    <option value="online" {{#compare payconfig.paymentConfigType '==' 'online'}}selected{{/compare}}>
                        在线支付
                    </option>
                </select>
            </td>
        </tr>
        {{#compare payconfig.paymentConfigType '==' 'online'}}
            <tr>
                <td class="formItem_title">支付产品:</td>
                <td class="formItem_content">
                    <select name="paymentProductId" class="chosen-select" disabled="true">
                        {{#each payproducts}}
                            <option value="{{id}}"
                                    {{#compare id '==' ../payconfig.paymentProductId}}selected{{/compare}}>{{name}}</option>
                        {{/each}}
                    </select>
                </td>
                <td class="formItem_title">
                    {{#each payproducts}}
                        {{#compare id '==' ../payconfig.paymentProductId}}{{shroffAccountName}}
                            :{{/compare}}
                    {{/each}}
                </td>
                <td class="formItem_content">
                    <input name="sellerEmail" type="text" value="{{payconfig.sellerEmail}}"/>
                </td>
            </tr>
            <tr>
                <td class="formItem_title ">
                    {{#each payproducts}}
                        {{#compare id '==' ../payconfig.paymentProductId}}{{bargainorIdName}}:{{/compare}}
                    {{/each}}
                </td>
                <td class="formItem_content">
                    <input name="bargainorId" type="text" value="{{payconfig.bargainorId}}"/>
                </td>
                <td class="formItem_title ">
                    {{#each payproducts}}
                        {{#compare id '==' ../payconfig.paymentProductId}}{{bargainorKeyName}}:{{/compare}}
                    {{/each}}
                </td>
                <td class="formItem_content">
                    <input name="bargainorKey" type="text" value="{{payconfig.bargainorKey}}"/>
                </td>
            </tr>
        {{/compare}}
        <tr>
            <td class="formItem_title ">支付手续费类型:</td>
            <td class="formItem_content">
                <select class="chosen-select" name="paymentFeeType">
                    <option value="fixed" {{#compare payconfig.paymentFeeType '==' 'fixed'}}selected{{/compare}}>固定费用
                    </option>
                    <option value="scale" {{#compare payconfig.paymentFeeType '==' 'scale'}}selected{{/compare}}>按比例收费
                    </option>
                </select>
            </td>
            <td class="formItem_title paymentFee"></td>
            <td class="formItem_content">
                <input name="paymentFee" type="text" value="{{payconfig.paymentFee}}"/>
            </td>
        </tr>
        <tr>
            <td class="formItem_title ">介绍:</td>
            <td class="formItem_content" colspan="3">
                <textarea name="description" style="width:98%;height: 118px;">{{payconfig.description}}</textarea>
            </td>
        </tr>
        </tbody>
    </table>
    <table class="formTable mb3">
        <tbody>
        <tr>
            <td class="formItem_title w100"></td>
            <td class="formItem_content">
                <a class="ui_button" href="javascript:void(0);" onclick="$('#saveForm').submit();return false;">保存</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>