
<table class="formTable mb3">
    <tbody>
    <tr>
        <td class="opt-title">
            <span>查看支付记录信息</span>
            <ul class="Tabtable" tabs="{selectedClass:'Tabcurr',event:'click'}">
                <li><a href="#" tab="#basic">基本信息</a></li>
                <li><a href="#" tab="#plan">订单信息</a></li>
            </ul>
            <a href="###" class="back-page" style="float:right;padding-right:50px;">返回支付记录列表>></a>

            <div style="clear:both;BORDER-BOTTOM:1PX SOLID #6483A4;"></div>
            <table id="basic" class="formTable mb3">
                <tbody>
                <tr>
                    <td class="formItem_title w100">支付编号:</td>
                    <td class="formItem_content"> {{payment.sn }}</td>
                    <td class="formItem_title w100">交易号:</td>
                    <td class="formItem_content"> {{payment.tradeNo}}</td>
                </tr>
                <tr>
                    <td class="formItem_title w100">支付金额 :</td>
                    <td class="formItem_content"> {{payment.totalAmount }}</td>
                    <td class="formItem_title w100">  支付手续费:</td>
                    <td class="formItem_content"> {{payment.paymentFee }}</td>
                </tr>
                <tr>
                    <td class="formItem_title w100"> 支付配置名称:</td>
                    <td class="formItem_content"> {{payment.paymentConfigName }}</td>
                    <td class="formItem_title w100">支付类型  :</td>
                    <td class="formItem_content"> {{dict payment.paymentType "{'online':'线上','offline':'线下'}"}}</td>
                </tr>
                <tr>
                    <td class="formItem_title w100">支付状态:</td>
                    <td class="formItem_content">{{dict payment.paymentStatus "{'ready':'准备','timeout':'超时','invalid':'作废','success':'成功','failure':'失败'}"}} </td>
                    <td class="formItem_content"></td>
                    <td class="formItem_content"></td>
                </tr>
                <tr>
                    <td class="formItem_title w100">订单编号:</td>
                    <td class="formItem_content">{{payment.orderSn}}</td>
                    <td class="formItem_title w100">订单类型 :</td>
                    <td class="formItem_content"> {{payment.orderType }}</td>
                </tr>
                <tr>
                    <td class="formItem_title w100">收款账号:</td>
                    <td class="formItem_content">{{payment.bankAccount }}</td>
                    <td class="formItem_title w100">收款方名称:</td>
                    <td class="formItem_content"> {{payment.bankName }}</td>
                </tr>
                <tr>
                    <td class="formItem_title w100">备注 :</td>
                    <td class="formItem_content"> {{payment.memo }}</td>
                    <td class="formItem_content"></td>
                    <td class="formItem_content"></td>
                </tr>
                </tbody>
            </table>
            <div id="goodsParameterDiv">
                <table class="formTable mb3">
                    <tbody>

                    </tbody>
                </table>
                <table id="plan" class="formTable mb3 listTable">
                    <tbody>
                    <tr>
                        <td class="formItem_title w100">配送方式名称:</td>
                        <td class="formItem_content"><input type="text" name="name" value="{{type.name}}"></td>
                        <td class="formItem_content"></td>
                        <td class="formItem_content"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">物流公司:</td>
                        <td class="formItem_content">
                            <select name="corp">
                                {{#corps}}
                                    <option value="{{id}}">{{name}}</option>
                                {{/corps}}
                            </select>
                        </td>
                        <td class="formItem_title w100">配送类型:</td>
                        <td class="formItem_content">
                            <input type="radio" name="method" value="deliveryAgainstPayment" {{#compare type.method 'deliveryAgainstPayment'}}checked="checked"{{/compare}}/>先付款后发货
                            <input type="radio" name="method" value="cashOnDelivery" {{#compare type.method 'deliveryAgainstPayment'}}checked="checked"{{/compare}}/>货到付款
                        </td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">首重量(克):</td>
                        <td class="formItem_content"><input type="text" name="firstWeight" value="{{type.firstWeight}}"></td>
                        <td class="formItem_title ">首重价格(元):</td>
                        <td class="formItem_content"><input type="text" name="firstWeightPrice" value="{{type.firstWeightPrice}}"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">续重量(克):</td>
                        <td class="formItem_content"><input type="text" name="continueWeight" value="{{type.continueWeight}}"></td>
                        <td class="formItem_title ">续重价格(元):</td>
                        <td class="formItem_content"><input type="text" name="continueWeightPrice" value="{{type.continueWeightPrice}}"></td>
                    </tr>
                    <tr>
                        <td class="formItem_title ">描述:</td>
                        <td class="formItem_content" colspan="3">
                            <textarea name="description" style="width:98%; height: 118px;">{{description}}</textarea>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
