<script type="text/javascript">
    $(function () {
        $("#saveForm").ajaxForm({
            success: function (data) {
                $('#pager').pager().reload();
                top.$.msgbox({
                    msg: "保存成功",
                    icon: "success"
                });
                $page$.backpage();
            }
        });
    });
</script>
<form id="saveForm" action="/members/save" method="post" class="center-margin">
    <table class="formTable mb3 paymentForm">
        <caption>会员添加<a href="#" class="back-page" style="float:right;padding-right:50px;">返回</a></caption>
        <tbody>
        <th class="formItem_title w100" >账号信息</th>
        <tr>
            <td class="formItem_title w100">用户账号：</td>
            <td class="formItem_content"><input type="text" name="username" class="w" value="{{member.username}}"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">昵称：</td>
            <td class="formItem_content"><input type="text" name="nickName" class="w" value="{{member.nickName}}"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">登陆密码：</td>
            <td class="formItem_content"><input type="password" name="password" class="w"  value="{{member.password}}"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">是否启用：</td>
            <td class="formItem_content">
                <input type="radio" id="details_enabled_true" name="enabled"  {{#compare member.enabled true}} checked="true"{{/compare}} value="true">是
                <input type="radio" id="details_enabled_false" name="enabled"  {{#compare member.enabled false}}checked="true"{{/compare}}value="false">否
            </td>
        </tr>
        <th>基本信息</th>
        <tr>
            <td class="formItem_title w100">姓名：</td>
            <td class="formItem_content"><input type="text" name="details.name" class="w" value="{{member.details.name}}"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">性别：</td>
            <td class="formItem_content">
                <input type="radio" id="details_sex_male" name="details.sex" value="male" {{#compare member.details.sex 'male'}}checked="true" {{/compare}}/>男
                <input type="radio" id="details_sex_female" name="details.sex" value="female"{{#compare member.details.sex 'female'}}checked="true" {{/compare}}/>女
            </td>
        </tr>
        <tr>
            <td class="formItem_title w100">生日：</td>
            <!--<td class="formItem_content"><input type="text" name="details.birthday" class="datepicker" data-format="yyyy-mm-dd"></td>-->
        </tr>
        <tr>
            <td class="formItem_title w100">固定电话：</td>
            <td class="formItem_content"><input type="text" name="details.tel" value="{{member.details.tel}}" class="w"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">积分：</td>
            <td class="formItem_content"><input type="text" name="details.score" value="{{member.details.score}}" class="w"></td>
        </tr>
        <tr>
            <td class="formItem_title w100">描述：</td>
            <td class="formItem_content"><textarea name="details.description" class="w">{{member.details.description}}</textarea></td>
        </tr>
        <tr>
            <td class="formItem_title w100">移动电话：</td>
            <td class="formItem_content"><input type="text" name="details.mobile" value="{{member.details.mobile}}" class="w"/></td>
        </tr>
        <tr>
            <td class="formItem_title w100">邮箱</td>
            <td class="formItem_content"><input type="text" name="details.email"  value="{{member.details.email}}" class="w"/></td>
        </tr>
        </tbody>
    </table>
    <table class="formTable mb3">
        <tbody>
        <tr>
            <td class="formItem_title w100"></td>
            <td class="formItem_content">
                <a class="ui_button" href="javascript:void(0);" onclick="$('#saveForm').submit();return false;">保存</a>
            </td>
        </tr>
        </tbody>
    </table>
</form>
</div>
</div>
