<script type="text/javascript">
    $(function(){
        /*
        var _interval = setInterval(function(){
            if($('#saveFormButs','body').length == 0){
                clearInterval(_interval);
                return;
            }
            var _top = document.documentElement.clientHeight-$('#saveFormButs').height()-1;
            $('#saveFormButs').css({top:'',position:''});
            var top = $('#saveFormButs').offset().top;
            if(_top < top){
                $('#saveFormButs').css({top:_top,position:'fixed',width:$('#saveFormButs').prev().width()});
            }
        }, 200);*/
        var banneritems={{{string banner.bannerItems}}};
        var view = $('#view').view().on('add',function(data){
            var zhis = this;
            var filemanagerid,absolutePath;

            if(data.bannerImageStore!=""){
                console.log(data);
                filemanagerid=data.bannerImageStore.split(':')[0];
                absolutePath=data.bannerImageStore.split(':')[1];
            }else if(typeof(data.bannerImage)!="undefined"){
                filemanagerid=data.bannerImage.fileManagerId;
                absolutePath=data.bannerImage.absolutePath;

            }
            zhis.target.find('[mapping="bannerImageStore"]').val(filemanagerid+':'+absolutePath);
            var upload = this.target.find('#uploader').upload({data:{'dir':'goodsImages'},size:'539x244',theme:'image'}).on('uploadComplete',function(data){
                zhis.target.find('[mapping="bannerImageStore"]').val(data.fileManagerId+':'+data.absolutePath);
            }).setJSON(data.bannerImage?[data.bannerImage]:[]);
            this.target.find('[mapping="title"]').blur(function(){
                if($(this).val().length>30){
                    $(this).focus();
                    top.$.msgbox({
                        msg : "不能超过30个字符,您已输入"+$(this).val().length+"个字",
                        icon : "error"
                    });
                }
            })
            var $html = this.target.initialize();
            if(this.getTemplateName() == 'update'){
                $html.find('.save').click(function(){
                    zhis.setValue('type','2');
                    zhis.setValue('bannerImage',upload.getData());
                    view.setTemplate(zhis.getIndex(),'default',zhis.getData());
                });
                if(this.getData().type=='1'){
                    $html.find('.delete-div').remove();
                }
                $html.find('.cancel').click(function(){
                    if(zhis.getData().type=='1'){
                        view.remove(zhis.getIndex());
                    }else{
                        view.setTemplate(zhis.getIndex(),'default');
                    }
                });
            }else{
                upload.disenable();
                $html.find('.delete').click(function(e){
                    $.dialog.confirm('是否删除广告项:'+zhis.getData().title,function(){
                        view.remove(zhis.getIndex());
                    });
                    return stopDefault(e);
                });
            }
        }).setJSON(banneritems);
        $("#saveForm").ajaxForm(function(data){
            $('#pager').pager().reload();
            top.$.msgbox({
                msg : "保存成功",
                icon : "success"
            });
            $('.back-page').backpage();
        });
        $('.add-item').click(function(){
            if(!view.find('type','1')){
                view.add({type:'1'},'update');
            }
        });
    });
</script>
<form id="saveForm" action="${request.contextPath}/admin/cms/newbanner/save.do" method="post">
<input type="hidden" name="banner.id"/>
<input type="hidden" name="banner.key"/>
    <table class="formTable">
        <caption>广告位基本信息<a href="###" class="back-page">返回</a></caption>
        <tbody>
        <tr>
            <td class="formItem_title w100">编码:</td>
            <td class="formItem_content"><input type="text" name="banner.key" class="w250" disabled="true" value="{{banner.key}}"/></td>
            <td class="formItem_title w100"></td>
            <td class="formItem_content"></td>
        </tr>
        <tr>
            <td class="formItem_title w100">名称:</td>
            <td class="formItem_content"><input type="text" name="banner.name" class="w250" value="{{banner.name}}"/></td>
            <td class="formItem_title w100">图片大小:</td>
            <td class="formItem_content"><input type="text" name="banner.size" class="w250" value="{{banner.size}}"/></td>
        </tr>
        <tr>
            <td class="formItem_title">描述:</td>
            <td class="formItem_content" colspan="3"><textarea name="banner.description" style="height: 150px;width:98%;" >{{banner.description}}</textarea></td>
        </tr>
        </tbody>
    </table>
    <table id="view" class="formTable">
        <caption>广告项列表<a href="###" class="add-item" style="padding-left:50px;">添加广告图</a></caption>
        <tr class="template" name="update" >
            <td>
                <input name="banner.bannerItems[#index].id" class="view-field" type="hidden" mapping="id" />
                <input name="banner.bannerItems[#index].bannerImageStore" class="view-field"  type="hidden" mapping="bannerImageStore"/>
                <table class="formTable">
                    <tr>
                        <td class="formItem_title w100">标题:</td>
                        <td class="formItem_content">
                            <textarea name="banner.bannerItems[#index].title" style="height: 150px;width:98%;" class="view-field" rows="" cols="" mapping="title"></textarea>
                        </td>
                        <td class="formItem_content" rowspan="2">
                            <div id="uploader"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">跳转地址:</td>
                        <td class="formItem_content"><input name="banner.bannerItems[#index].url" class="view-field w250" type="text" mapping="url"/>
                            <div style="float:right;padding-right:20px;">
                                <a href="###" class="cancel" style="padding-left:5px;">取消</a>/
                                <span class="delete-div"><a class="delete" href="###">删除</a>/</span>
                                <a href="###" class="save" template="update" style="float:right;padding-right:5px;">保存</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="template" name="default" >
            <td>
                <input name="banner.bannerItems[#index].id" class="view-field" type="hidden" mapping="id" />
                <input name="banner.bannerItems[#index].title" class="view-field" type="hidden" mapping="title" />
                <input name="banner.bannerItems[#index].bannerImageStore" class="view-field" type="hidden" mapping="bannerImageStore" />
                <input name="banner.bannerItems[#index].summary" class="view-field" type="hidden" mapping="summary"/>
                <input name="banner.bannerItems[#index].url" class="view-field w250" type="hidden" mapping="url"/>
                <table class="formTable">
                    <tr>
                        <td class="formItem_title w100">标题:</td>
                        <td class="formItem_content">
                            <span>{{title}}</span>
                            <div style="float:right;padding-right:20px;">
                                <a class="delete" href="###">删除</a>/
                                <a href="###" class="switch only" template='update' style="float:right;padding-right:5px;">编辑</a>
                            </div>
                        </td>
                        <td class="formItem_content" rowspan="3">
                            <div id="uploader"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formItem_title w100">跳转地址:</td>
                        <td class="formItem_content">{{url}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="empty"><td class="norecord" colspan="4">暂无数据</td></tr>
    </table>
    <table id="saveFormButs" class="formTable mb3">
        <tr>
            <td class="formItem_title w100"></td>
            <td class="formItem_content"><a href="javascript:void(0);" onclick="$('#saveForm').submit();return false;" class="ui_button">保存</a></td>
        </tr>
    </table>
</form>